[submodule "heguangzhi"]
	path = heguangzhi
	url = https://github.com/DaChuang-team/heguangzhi.git
[submodule "zhaohuawen"]
	path = zhaohuawen
	url = https://github.com/DaChuang-team/zhaohuawen.git
[submodule "chenyuqi"]
	path = chenyuqi
	url = https://github.com/DaChuang-team/chenyuqi.git
